html {
    height: 100%;
    flex: 1;
}

body {
    height: 100%;
    background-color: #f8f8f8;
}

.mainsec {
    height: 100%;
}

.mainsec.ng-enter {
    transition: .5s;
    opacity: 0;
}

.mainsec.ng-enter-active {
    opacity: 1;
}

.initsec {
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.wrapper .tt-container {
    padding-top: 9px;
}

.container-fluid, .row {
    height: 100%;
}

#wrapper.login-wrapper .content {
    height: 66.833%;
    max-width: 60%;
    background-color: #40cd65;
    overflow: auto;
    margin: 0 auto;
}

#wrapper.login-wrapper .header .logo .img-fundo {
    z-index: -1;
    position: absolute;
    left: 50%;
    object-fit: cover;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#wrapper.login-wrapper .header .logo .img-logo {
    position: absolute;
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#wrapper.login-wrapper .header .logo {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 60%;
}

#wrapper.login-wrapper .header {
    height: 33.167%;
}

#wrapper.login-wrapper .content .content-wrapper {
    width: 80%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding-top: 55px;
}

#wrapper.login-wrapper .content .login-compact {
    max-width: 480px;
}

#wrapper.login-wrapper .content .login-compact h1 {
    color: #ffffff;
}

.control-group {
    padding-bottom: 10px;
}

form.login .controls {
    margin-left: 132px;
}

form.login .buttons {
    margin-left: 132px;
}

.control-group label {
    display: block;
    width: 212px;
    padding: 6px 0 2px 0;
    float: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

form.login label {
    width: 132px;
    color: #ffffff;
    font-size: 16px;
}

@media (max-width: 568px) {
    form.login .buttons {
        margin-left: 0;
    }
}

@media (max-device-width: 640px) and (min-device-width: 320px) {

    #wrapper.login-wrapper .content .fields .control-group.buttons {
        margin-top: 10px;
    }

    #wrapper.login-wrapper .content {
        max-width: 100%;
        height: 74%;
    }

    #wrapper.login-wrapper .content .fields label {
        width: 100%;
    }

    #wrapper.login-wrapper .content .fields .controls {
        margin-left: 0;
    }

    #wrapper.login-wrapper .header .logo {
        width: 100%;
    }

    #wrapper.login-wrapper .header {
        height: 26%;

    }
    #wrapper.login-wrapper .header .logo .img-logo {
        width: 100%;
    }
}

.tt-brand {
   padding: 5px 15px;
}

.space-top {
    margin-top: 20px;
}

.btn-login {
    margin-top: 20px;
}

.tt-navbar {
    height: 52px;
}

.tt-navbar-links a {
    color: #333333;
}

.tt-sub-menu {
    padding-left: 15px;
}

.alerta-square {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.alerta-vermelho > .alerta-square {
    background-color: #d9534f;
}

.alerta-verde > .alerta-square {
    background-color: #5cb85c;
}

.alerta-amarelo > .alerta-square {
    background-color: #f0ad4e;
}

.tt-avatar-header {
    float: left;
}

.tt-avatar-header img {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-right: 9px;
}

.tt-avatar-menu {
    float: left;
}

.tt-avatar-table {
    float: left;
    margin-right: 5px;
}

.avatar-menu-name {
    float: right;
    width: 160px;
    min-height: 50px;
}

.navigation-header-usermenu-info {
    width: 250px;
    padding: 11px 14px;
    min-height: 72px;
}

.profile-link {
    color: #4680bf;
    display: block;
    margin-top: 5px;
    padding: 0!important;
}

.global-navigation-panel {
    background-color: #ffffff;
}

.navbar-side-menu {
    background-color: #ffffff;
}

.task-list-panel {
    background-color: #ffffff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
}

.pointer-action {
    cursor: pointer;
}

.mini-progress {
    height: 6px;
    margin-bottom: 0;
}

.collapse-link {
    width: 36px;
    height: 40px;
    padding: 12px 10px;
}

.tt-navbar-links .link-leftnavigation {
    width: 250px;
}

.tt-navbar-links .link-leftnavigation-project {
    width: 230px;
}

.collapse-link:hover {
    background-color: #eee;

}

.tt-btn-round {
    border-radius: 50%;
}

.btn-edit-project {
    display: none;
}

.tb-project-name:hover > .btn-edit-project {
    display: inline;
}

.btn-edit-project:hover {
    cursor: pointer;
    color: #0000FF;
}

.tt-bgcolor-blue{
    background-color: #17ACFF
}

.tt-bgcolor-dark-blue{
    background-color: #1A88FF
}

.tt-bgcolor-light-blue{
    background-color: #17BEFF
}

.tt-bgcolor-green{
    background-color: #17EA00
}

.tt-bgcolor-dark-grey{
    background-color: #424B55
}

.tt-bgcolor-dark-grey{
    background-color: #424B55
}

.tt-bgcolor-light-grey{
    background-color: #52606E
}

.tt-bgcolor-grey{
    background-color: #4B5866
}

.tt-bgcolor-light-green{
    background-color: #5CFF40
}

.tt-bgcolor-dark-green{
    background-color: #29D311
}

