<div class="wrapper" ng-controller="ConfigPeopleController">
    <header header>
    </header>
    <div class="progress mini-progress" ng-show="showLoading">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>
    <div class="container-fluid tt-container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a ui-sref="workspace-projects">Projetos</a></li>
                <li class="active">Pessoas</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="task-list-panel container-fluid" ng-init="initConfigPeople()">
                    <div>
                        <h3 class="page-header">
                            Pessoas
                            <button ng-click="novaPessoa();" class="btn btn-danger btn-sm tt-btn-round"
                                    uib-tooltip="Nova Pessoa">
                                <i class="fa fa-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <div>

                    </div>
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                           class="table table-hover">
                        <thead>
                        <tr>
                            <td>Sigla</td>
                            <td>Nome</td>
                            <td>Ativo</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pessoa in listagemPessoas">
                            <td>
                                <ng-letter-avatar dynamic="true" charCount="2" width="27" height="27" fontsize="14"
                                                  data="{{pessoa.iniciais}}"
                                                  uib-tooltip="{{pessoa.nome}}"></ng-letter-avatar>
                            </td>
                            <td class="tb-project-name">
                                <a ng-click="mostrarDetalhePessoa(time)" class="pointer-action">{{pessoa.nome}}</a>
                                &nbsp;
                                <span class="btn-edit-project" ng-click="editarPessoa(pessoa);">
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                            </td>
                            <td>
                                <span class="label text-uppercase" ng-class="pessoa.ativo ? 'label-primary' : 'label-danger'">{{pessoa.ativo}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>