<div class="global-navigation-panel">
    <div class="navbar-default navbar-side-menu" role="navigation">
        <ul class="nav" id="side-menu">
            <li>
                <a data-toggle="collapse" aria-expanded="false" aria-controls="collapseProjects"
                   data-target="#collapseProjects" class="pointer-action">PROJETOS</a>
                <ul class="nav collapse" id="collapseProjects">
                    <li ng-repeat="projeto in projetos">
                        <a class="pointer-action">
                            {{projeto.nome}}
                            <span ng-click="addToFav();" class="pointer-action pull-right fa"
                            ng-class="usuarioLogado.favorito === projeto._id.$oid ? 'fa-star' : 'fa-star-o'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a ui-sref="workspace-projects" class="pointer-action">ATIVIDADES</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a ui-sref="workspace-projects" class="pointer-action">PESSOAS</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a ui-sref="workspace-projects" class="pointer-action">GRUPOS</a>
            </li>
        </ul>
    </div>
</div>