<div id="wrapper" class="login-wrapper page-content" ng-controller="LoginController" ng-init="initLogin()">

    <div class="header">
        <div class="logo">
            <!--<img class="img-logo" ng-src="img/team-task-name-2.png">-->
            <img class="img-fundo" ng-src="img/office-up-view-test.png">
        </div>
    </div>
    <div class="content">
        <div class="content-wrapper login-compact">
            <h1 class="text-center">Entre com a sua conta</h1>
            <form class="form-horizontal login">
                <div class="fieds">
                    <p class="alert alert-danger space-top" ng-show="errorLogin !== ''">
                        <span>{{errorLogin}}</span>
                    </p>
                    <div class="control-group">
                        <label for="usuario">Usuário</label>
                        <div class="controls">
                            <input type="text" id="usuario" class="form-control" required ng-model="usuario" ng-focus="errorLogin = ''" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="senha">Senha</label>
                        <div class="controls">
                            <input type="password" id="senha" class="form-control" required ng-model="senha" ng-focus="errorLogin = ''" placeholder="Senha">
                        </div>
                    </div>

                    <div class="control-group buttons">
                        <button ng-click="login()" type="submit" class="btn btn-primary btn-lg">ENTRAR</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>