<div class="task-list-panel container-fluid wow fadeIn data-animation" data-wow-duration="1s" ng-init="initWorkspaceTimesheet()">
    <div>
        <h3 class="page-header">
            Planilha de Horas<span ng-show="usuarioPlanilha">: {{usuarioPlanilha}}</span>
            <button ng-click="adicionarHora(null, dataClicada);" class="btn btn-danger btn-sm tt-btn-round"
                    uib-tooltip="Adicionar Marcação">
                <i class="fa fa-plus"></i>
            </button>

            <div class="dropdown pull-right">
                <button class="btn btn-primary btn-inverse tt-btn-bordeless"
                        data-toggle="dropdown" id="dropdownProjectMenu">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownProjectMenu">
                    <li>
                        <span class="pointer-action upload-csv" ng-click="exportarTabela();">
                            <i class="fa fa-file-excel-o"></i>&nbsp;Exportar Minha Planilha de Horas
                        </span>
                    </li>
                    <li ng-show="userManager">
                        <span class="pointer-action upload-csv" ng-click="exportarTabelaEquipe();">
                            <i class="fa fa-file-excel-o"></i>&nbsp;Exportar Planilha de Horas da Equipe
                        </span>
                    </li>
                </ul>
            </div>
        </h3>
    </div>

    <div class="form-group form-inline">
        <div id="calendar" ui-calendar="uiConfig.calendar" calendar="timesheet"></div>
    </div>

    <div>
        <div class="tags" ng-show="dataFiltro">
            <div class="tag label label-success">
                Filtrando: {{dataFiltro}}&nbsp;<a ng-click="cancelarFiltro();" class="close">x</a>
            </div>
        </div>

    </div>
    <table datatable="ng" dt-options="dtOptions" class="table table-hover">
        <thead>
        <tr>
            <td>Data</td>
            <td>Atividade</td>
            <td>Código SO / Chamado</td>
            <td>Horas</td>
            <td>Observação</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="timesheet in timesheets">
            <td data-order="{{timesheet.data.$date | timeMils}}">
                <span class="btn-edit-timesheet" ng-click="adicionarHora(timesheet);">{{timesheet.data.$date | date: "dd/MM/yy"}}&nbsp;<i class="fa fa-pencil-square-o"></i> </span>
            </td>
            <td>{{timesheet.tipo}}</td>
            <td>{{timesheet.atividade.nome}}</td>
            <td>{{timesheet.tempo.$date | date: "HH:mm"}}</td>
            <td>{{timesheet.nota}}</td>
        </tr>
        </tbody>
    </table>
</div>