<div class="wrapper" ng-controller="WorkspaceProjectsController">
    <header header>
    </header>
    <div class="progress mini-progress" ng-show="showLoading">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>
    <div class="container-fluid tt-container">
        <div class="row">
            <div class="col-md-3">
                <div left-navigation></div>
            </div>
            <div class="col-md-9">
                <div class="task-list-panel container-fluid" ng-init="initWorkspaceProjects()">
                    <div>
                        <h3 class="page-header">
                            Projetos
                            <button ng-click="novoProjeto();" class="btn btn-danger btn-sm tt-btn-round"
                                    uib-tooltip="Novo Projeto">
                                <i class="fa fa-plus"></i>
                            </button>
                            <div class="dropdown pull-right">
                                <button class="btn btn-primary btn-inverse tt-btn-bordeless"
                                        data-toggle="dropdown" id="dropdownProjectMenu">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownProjectMenu">
                                    <li>
                                        <span class="pointer-action upload-csv" ng-click="exportarTabela();">
                                            <i class="fa fa-file-excel-o"></i>&nbsp;Exportar Projetos
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </h3>
                    </div>
                    <div ng-excel="" type="'excel'" data="excel.data" xlsfilename="'projetos.xls'" down="excel.down"></div>
                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="filtro[0]" value="Ativo"
                                   ng-click="filterChange();">Ativo
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="filtro[1]" value="Suspenso"
                                   ng-click="filterChange();">Suspenso
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="filtro[2]" value="Concluído"
                                   ng-click="filterChange();">Concluído
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="filtro[3]" value="Cancelado"
                                   ng-click="filterChange();">Cancelado
                        </label>
                    </div>
                    <table datatable="ng" dt-options="dtOptions" class="table table-hover">
                        <thead>
                        <tr>
                            <td>Projeto</td>
                            <td>Inicio</td>
                            <td>Duração(d)</td>
                            <td>Até</td>
                            <td>Status</td>
                            <td>Alerta</td>
                            <td><i class="fa fa-plus"></i>&nbsp;Infos</td>
                            <td>Atividades</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="projeto in listaProjetos">
                            <td class="tb-project-name">
                                <a ui-sref="project({'id' : projeto._id.$oid})">{{projeto.nome}}</a>&nbsp;
                                <span ng-show="usuarioLogado._id.$oid === projeto.administrador"
                                      class="btn-edit-project" ng-click="editarProjeto(projeto);"><i
                                        class="fa fa-pencil-square-o"></i></span>
                            </td>
                            <td data-order="{{projeto.inicio.$date | timeMils}}">{{projeto.inicio.$date | date : 'dd/MM/yyyy'}}</td>
                            <td>{{projeto.duracao}}</td>
                            <td data-order="{{projeto.fim.$date | timeMils}}">{{projeto.fim.$date | date : 'dd/MM/yyyy'}}</td>
                            <td>{{projeto.status}}</td>
                            <td>
                                <span class="label"
                                      ng-class="projeto.alerta === 'verde' ? 'label-success' : projeto.alerta === 'amarelo' ? 'label-warning' : 'label-danger'">
                                    {{projeto.alerta}}
                                </span>
                            </td>
                            <td>
                                <div>
                                    <span data-toggle="dropdown" id="dropdownExtra1">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownExtra1">
                                        <li>
                                            <a ng-show="projeto.descricao !== ''"
                                               ng-click="mostrarDescricao(projeto);" class="pointer-action">
                                                Descrição
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-show="projeto.notas !== ''"
                                               ng-click="mostrarNotas(projeto);" class="pointer-action">
                                                Notas
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>{{projeto.atividades.length}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>