<div class="wrapper" ng-controller="WorkspaceWorkforceController">
    <header header>
    </header>
    <div class="progress mini-progress" ng-show="showLoading">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>
    <div class="container-fluid tt-container">
        <div class="row">
            <div class="col-md-3">
                <div left-navigation></div>
            </div>
            <div class="col-md-9">
                <div class="task-list-panel container-fluid" ng-init="initWorkspaceWorkforce()">
                    <div>
                        <h3 class="page-header">
                            Carga de Trabalho
                            <!--
                            <button ng-click="novoProjeto();" class="btn btn-danger btn-sm tt-btn-round"
                                    uib-tooltip="Novo Projeto">
                                <i class="fa fa-plus"></i>
                            </button>
                            -->
                        </h3>
                    </div>
                    <!--
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Opções</span>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-inline">
                                        <div class="form-group text-center">
                                            <label for="scale" class="control-label"><i class="fa fa-search"></i> Escala</label>
                                            <br>
                                            <select class="form-control" id="scale" ng-model="ganttOptions.scale">
                                                <option value="day">Dia</option>
                                                <option value="week">Semana</option>
                                                <option value="2 weeks">2 Semanas</option>
                                                <option value="month">Mês</option>
                                                <option value="6 months">6 Meses</option>
                                                <option value="year">Ano</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div gantt data=ganttData
                                 view-scale="ganttOptions.scale"
                                 current-date="ganttOptions.currentDate"
                                 sort-mode="ganttOptions.sortMode"
                                 daily="ganttOptions.daily"
                                 task-content="ganttOptions.taskContent"
                                 headers="ganttOptions.headers">
                                <gantt-table headers="ganttOptions.tableHeaders"></gantt-table>
                                <gantt-tooltips date-format="dateFormat"></gantt-tooltips>
                                <gantt-overlap></gantt-overlap>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Iniciando / Terminando entre {{dataTerminando | date: 'dd/MM/yyyy'}} e {{dataIniciando | date: 'dd/MM/yyyy'}}
                        </div>
                        <div class="panel-body">
                            <table datatable="ng" class="table table-hover table-responsive" dt-options="dtOptions">
                                <thead>
                                <tr>
                                    <td>Atividade</td>
                                    <td>Inicio</td>
                                    <td>Fim</td>
                                    <td>Status</td>
                                    <td>Recurso</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="atividade in listaAtividadesIniciandoTerminando">
                                    <td>{{atividade.nome}}</td>
                                    <td data-order="{{atividade.inicio.$date | timeMils}}">{{atividade.inicio.$date | date : 'dd/MM/yyyy'}}</td>
                                    <td data-order="{{atividade.fim.$date | timeMils}}">{{atividade.fim.$date | date : 'dd/MM/yyyy'}}</td>
                                    <td>
                                        <span class="label text-uppercase" ng-class="atividade.status === 'Iniciando' ? 'label-primary' : 'label-warning'">
                                            {{atividade.status}}
                                        </span>
                                    </td>
                                    <td data-search="{{atividade.pessoaRecurso.nome}}">
                                        <ng-letter-avatar dynamic="true" charCount="2" width="27" height="27" fontsize="14"
                                                          data="{{atividade.pessoaRecurso.iniciais}}"
                                                          uib-tooltip="{{atividade.pessoaRecurso.nome}}"></ng-letter-avatar>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>