<div class="wrapper" ng-controller="WorkspaceController">
    <header header>
    </header>
    <section>
        <div class="col-md-4">
            <div class="global-navigation-panel">
                <div class="navbar-collapse">
                    <ul class="nav">
                        <li>
                            <a ui-sref="workspace">PROJETOS</a>
                        </li>
                        <li>
                            <a ui-sref="workspace">PESSOAS</a>
                        </li>
                        <li>
                            <a ui-sref="workspace">GRUPOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="task-list-panel">
                conteudo
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container text-right">
            <a class="text-muted" ui-sref="workspace">Ajuda ?</a>
        </div>
    </footer>
</div>