<div class="modal-header text-center">
    <h4 class="modal-title">Excluindo {{pessoaDelete.nome}}</h4>
</div>
<div class="modal-body" ng-init="initModalDeletePeople()">

    <div ng-show="deleteDeny" class="alert alert-danger text-center" role="alert">
        <p>Há {{qtdAtividades}} atividades de time e/ou projeto para o usuário:&nbsp;<strong>{{pessoaDelete.nome}}</strong>&nbsp;?</p>
        <p>Modifique a designação ou Exclua as atividades antes de excluir o usuário.</p>
    </div>
    <div ng-show="!deleteDeny" class="alert alert-danger text-center" role="alert">
        <p>Você deseja excluir o usuário:&nbsp;<strong>{{pessoaDelete.nome}}</strong>&nbsp;?</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button ng-show="!deleteDeny" type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>