<div class="modal-header text-center">
    <h4 class="modal-title">Excluindo nota</h4>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" role="alert">
        <p>Você deseja excluir a nota?</p>
        <p><strong>{{nota.data.$date | date:"dd/MM/yyyy"}}</strong></p>
        <pre class="nota-preline text-left">{{nota.nota}}</pre>
        <p>Essa ação não poderá ser desfeita.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>