<div class="modal-header text-center">
    <h4 class="modal-title">Editando Time&nbsp;<span class="pointer-action" ng-click="deleteTeam()"><i class="fa fa-trash-o"></i></span></h4>
</div>
<div class="modal-body" ng-init="initModalEditTeam()">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" ng-model="timeEdicao.nome"
                       placeholder="Nome do time" ng-focus="teamNameErro = ''">
                <span ng-show="teamNameErro !==''" class="help-block alert-danger">
                    {{teamNameErro}}
                </span>
            </div>

            <div class="form-group">
                <label for="notas">Descricao</label>
                <textarea id="notas" class="form-control" ng-model="timeEdicao.descricao" placeholder="Descrição do Time">
                </textarea>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" class="form-control" ng-model="timeEdicao.status">
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>
            </div>

            <div class="form-group">
                <label>Recursos</label>
                &nbsp;
                <button class="btn btn-success btn-sm tt-btn-round" uib-tooltip="Adicionar recurso"
                        ng-click="adicionarPessoaRecurso(timeEdicao);">
                    <i class="fa fa-plus"></i>
                </button>
                <div class="tags">
                    <div class="tag label label-success" ng-repeat="pessoa in recursosPessoas">
                        {{pessoa.nome}}&nbsp;<a ng-click="removePessoa(pessoa);" class="close">x</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Tecnologias</label>

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="tecnologia" placeholder="Nome da tecnologia">
                    <span class="input-group-btn">
                        <button class="btn btn-success" uib-tooltip="Adicionar tecnologia"
                                ng-click="adicionarTecnologia();">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
                <div class="tags">
                    <div class="tag label label-success" ng-repeat="tec in timeEdicao.tecnologias">
                        {{tec}}&nbsp;<a ng-click="removeTecnologia(tec);" class="close">x</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>