<div class="modal-header text-center">
    <h4 class="modal-title">Editando Atividade de: {{projeto.nome}}&nbsp;<span ng-hide="disableEdit" class="pointer-action" ng-click="deleteActivity()"><i class="fa fa-trash-o"></i></span></h4>
</div>
<div class="modal-body" ng-init="initModalEditActivity()">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" ng-model="projeto.atividades[indice].nome"
                       placeholder="Nome da nova atividade" ng-focus="activityNameErro = ''"
                ng-readonly="disableEdit">
                <span ng-show="activityNameErro !==''" class="help-block alert-danger">
                    {{activityNameErro}}
                </span>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" class="form-control" ng-model="projeto.atividades[indice].status">
                    <option value="Aguardando">Aguardando</option>
                    <option value="Iniciada">Iniciada</option>
                    <option ng-hide="disableEdit" value="Cancelada">Cancelada</option>
                    <option value="Concluída">Concluída</option>
                </select>
            </div>

            <!--
            <div class="form-group">
                <label for="predecessora">Atividade Predecessora</label>
                <select id="predecessora" class="form-control" ng-model="projeto.atividades[indice].predecessora"
                        ng-options="predecessora.nomeComposto for predecessora in atividadesPossiveis"
                        ng-change="recalcularInicio();"
                        aria-describedby="predBlock">
                    <option value="">Sem predecessora</option>
                </select>
                <span id="predBlock" class="help-block" ng-show="showPredecessorLoading">
                    <div class="progress mini-progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                </span>
            </div>
            -->
            <div class="form-group">
                <label>Inicio</label>
                <input type="date" class="form-control" ng-model="projeto.atividades[indice].inicio.$date"
                       placeholder="Data de Inicio" ng-change="calculaFim();"
                       ng-focus="activityInicioErro = ''" ng-readonly="disableEdit">
                <span ng-show="activityInicioErro !==''" class="help-block alert-danger">
                    {{activityInicioErro}}
                </span>
            </div>

            <div class="form-group">
                <label>Duração</label>
                <input type="number" min="1" max="999" step="1" class="form-control" ng-model="projeto.atividades[indice].duracao"
                       placeholder="Duração" ng-change="calculaFim();" ng-focus="activityDuracaoErro = ''" ng-readonly="disableEdit">
                <span ng-show="activityDuracaoErro !==''" class="help-block alert-danger">
                    {{activityDuracaoErro}}
                </span>
            </div>

            <div class="form-group">
                <label>Até</label>
                <input type="date" readonly class="form-control" ng-model="projeto.atividades[indice].fim.$date"
                       placeholder="Data de Fim">
            </div>

            <div class="form-group">
                <label>Percentual de Conclusão</label>
                <input type="number" min="0" max="100" ng-model="projeto.atividades[indice].progresso"
                        placeholder="Percentual de Conclusão" class="form-control">
            </div>

            <div class="form-group">
                <label for="time">Time</label>
                <select id="time" class="form-control" ng-model="projeto.atividades[indice].time" ng-options="time._id.$oid as time.nome for time in listaTimes"
                        ng-change="carregaPessoas();" aria-describedby="helpBlock" ng-focus="activityTimeErro = ''" ng-readonly="disableEdit">
                    <option value="">Sem time</option>
                </select>
                <span ng-show="activityTimeErro !==''" class="help-block alert-danger">
                    {{activityTimeErro}}
                </span>
                <span id="helpBlock" class="help-block" ng-show="showSelectLoading">
                    <div class="progress mini-progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                </span>
            </div>

            <div class="form-group">
                <label for="designado">Desigando para</label>
                <select id="designado" class="form-control" ng-model="projeto.atividades[indice].designado"
                        ng-options="recurso._id.$oid as recurso.nome for recurso in listaRecursos" ng-readonly="disableEdit">
                    <option value="">Sem designação</option>
                </select>
            </div>

            <div class="form-group">
                <label>Notas&nbsp;
                    <span class="pointer-action" uib-tooltip="Criar nova nota" ng-click="novaNota();">
                        <i class="fa fa-plus-square-o"></i>
                    </span>
                </label>
                <div class="list-group notes-view-panel">
                    <div class="list-group-item" ng-repeat="nota in projeto.atividades[indice].notas">
                        <div class="list-group-item-text">
                            <div notas nota="nota" remover="excluirNota($index)" editar="novaNota($index)" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>