<div class="modal-header text-center">
    <h4 class="modal-title">{{projeto.nome}}&nbsp;<span class="pointer-action" ng-click="deleteProject()"><i class="fa fa-trash-o"></i></span></h4>
</div>
<div class="modal-body" ng-init="initModalNewProject()">
    <div class="panel panel-primary">
        <div class="panel-body">

            <div class="form-group">
                <label>Nome do Projeto</label>
                <input type="text" class="form-control" ng-focus="errorProjectName = ''"
                       ng-model="projeto.nome" placeholder="Nome do novo projeto">
                <span ng-show="errorProjectName !==''" class="help-block alert-danger">
                    {{errorProjectName}}
                </span>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" class="form-control" ng-model="projeto.descricao"></textarea>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" class="form-control" ng-model="projeto.status">
                    <option value="Ativo">Ativo</option>
                    <option value="Suspenso">Suspenso</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Concluído">Concluído</option>
                </select>
            </div>
            <div class="form-group">
                <label for="alerta">Alerta</label>
                <select id="alerta" class="form-control" ng-model="projeto.alerta">
                    <option value="verde">Verde</option>
                    <option value="amarelo">Amarelo</option>
                    <option value="vermelho">Vermelho</option>
                </select>
            </div>

            <div class="form-group">
                <label>Notas&nbsp;
                    <span class="pointer-action" uib-tooltip="Criar nova nota" ng-click="novaNota();">
                        <i class="fa fa-plus-square-o"></i>
                    </span>
                </label>
                <div class="list-group notes-view-panel">
                    <div class="list-group-item painel-animado" ng-repeat="nota in projeto.notas">
                        <div class="list-group-item-text">
                            <div class="row">
                                <div class="col-lg-10">
                                    {{nota.data.$date | date:"dd/MM/yyyy"}}: {{nota.nota}}
                                </div>
                                <div class="col-lg-1">
                                    <span class="pointer-action" uib-tooltip="Editar nota" tooltip-placement="left"
                                            ng-click="novaNota($index);">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                </div>
                                <div class="col-lg-1">
                                    <span class="pointer-action" uib-tooltip="Excluir nota" tooltip-placement="left"
                                            ng-click="excluirNota($index)">
                                        <i class="fa fa-minus-square-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Salvar</button>
</div>