<div class="modal-header text-center">
    <h4 class="modal-title">Editando Atividade do Time: {{time.nome}}&nbsp;<span class="pointer-action" ng-click="deleteTeamActivity()"><i class="fa fa-trash-o"></i></span></h4>
</div>
<div class="modal-body" ng-init="initModalEditTeamActivity()">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" ng-model="atividade.nome"
                       placeholder="Nome da nova atividade" ng-focus="activityNameErro = ''">
                <span ng-show="activityNameErro !==''" class="help-block alert-danger">
                    {{activityNameErro}}
                </span>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" class="form-control" ng-model="atividade.status">
                    <option value="aguardando">Aguardando</option>
                    <option value="iniciada">Iniciada</option>
                    <option value="cancelada">Cancelada</option>
                    <option value="concluída">Concluída</option>
                </select>
            </div>

            <div class="form-group">
                <label>Inicio</label>
                <input type="date" class="form-control" ng-model="atividade.inicio.$date"
                       placeholder="Data de Inicio" ng-change="calculaFim();"
                       ng-focus="activityInicioErro = ''">
                <span ng-show="activityInicioErro !==''" class="help-block alert-danger">
                    {{activityInicioErro}}
                </span>
            </div>

            <div class="form-group">
                <label>Duração</label>
                <input type="number" min="1" max="999" step="1" class="form-control" ng-model="atividade.duracao"
                       placeholder="Duração" ng-change="calculaFim();" ng-focus="activityDuracaoErro = ''">
                <span ng-show="activityDuracaoErro !==''" class="help-block alert-danger">
                    {{activityDuracaoErro}}
                </span>
            </div>

            <div class="form-group">
                <label>Até</label>
                <input type="date" readonly class="form-control" ng-model="atividade.fim.$date"
                       placeholder="Data de Fim">
            </div>

            <div class="form-group">
                <label>Percentual de Conclusão</label>
                <input type="number" min="0" max="100" ng-model="atividade.progresso"
                       placeholder="Percentual de Conclusão" class="form-control">
            </div>

            <div class="form-group">
                <label for="designado">Desigando para</label>
                <select id="designado" class="form-control" ng-model="atividade.designado"
                        ng-options="recurso._id.$oid as recurso.nome for recurso in pessoas">
                    <option value="">Sem designação</option>
                </select>
            </div>

            <div class="form-group">
                <label>Notas&nbsp;
                    <span class="pointer-action" uib-tooltip="Criar nova nota" ng-click="novaNota();">
                        <i class="fa fa-plus-square-o"></i>
                    </span>
                </label>
                <div class="list-group notes-view-panel">
                    <div class="list-group-item" ng-repeat="nota in atividade.notas">
                        <div class="list-group-item-text">
                            <div notas nota="nota" remover="excluirNota($index)" editar="novaNota($index)" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>