<div class="modal-header text-center">
    <h4 class="modal-title">
        <span ng-hide="edicao">Nova&nbsp;</span>Marcação de Hora
        &nbsp;<span ng-show="edicao" class="pointer-action" ng-click="delete(hora)"><i class="fa fa-trash-o"></i></span>
    </h4>
</div>
<form novalidate name="formulario" ng-submit="ok();">
    <div class="modal-body">
        <div class="panel panel-primary">
            <div class="panel-body">

                <div class="form-group">
                    <label>Data</label>
                    <input class="form-control" type="date" ng-model="hora.data.$date">
                </div>

                <div class="form-group" ng-hide="edicao">
                    <label>
                        <input type="checkbox" ng-model="multiplos"> Múltiplos dias?
                    </label>
                    <input class="form-control" type="number" ng-model="quantidadeDias" min="2" max="22" ng-disabled="!multiplos">
                </div>

                <div class="form-group">
                    <label>Tempo</label>
                    <input class="form-control" type="time" ng-model="hora.tempo.$date" min="00:00:01" max="23:59:59" autofocus>
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo da Marcação</label>
                    <select id="tipo" class="form-control" ng-model="hora.tipo"
                            ng-options="tipo for tipo in listaTipos">
                        <option value="">Selecione um Tipo de Marcação</option>
                    </select>
                    <span ng-show="activityErro !==''" class="help-block alert-danger">
                    {{activityErro}}
                    </span>
                </div>

                <div class="form-group">
                    <label for="atividade">Projeto / Atividade</label>
                    <select id="atividade" class="form-control" ng-model="hora.atividade"
                            ng-options="atividade as atividade.nome for atividade in listaAtividades | orderBy: ['tipo', 'nome']"
                            aria-describedby="helpBlock">
                        <option value="">Selecione uma Atividade</option>
                    </select>

                    <span id="helpBlock" class="help-block" ng-show="showSelectLoading">
                        <div class="progress mini-progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                    </span>
                </div>

                <div class="form-group">
                    <label for="notas">Observação</label>
                    <textarea id="notas" class="form-control" ng-model="hora.nota" rows="5"></textarea>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
</form>