<div class="modal-header text-center">
    <h4 class="modal-title">Novo Projeto</h4>
</div>
<div class="modal-body" ng-init="initModalNewProject()">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label>Nome do Projeto</label>
                <input type="text" class="form-control" ng-model="novoProjeto.nome" placeholder="Nome do novo projeto">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>