<div class="modal-header text-center">
    <h4 class="modal-title">
        Nova Pessoa
    </h4>
</div>
<div class="modal-body" ng-init="initModalNewPeople()">
    <div class="panel panel-primary">
        <div class="panel-body">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input id="nome" type="text" class="form-control" ng-model="pessoaNew.nome"
                       ng-focus="nomeErro = ''">
                <span ng-show="nomeErro !==''" class="help-block alert-danger">
                    {{nomeErro}}
                </span>
            </div>

            <div class="form-group">
                <label for="login">Login</label>
                <input id="login" type="text" class="form-control" ng-model="pessoaNew.usuario"
                       ng-focus="usuarioErro = ''">
                <span ng-show="usuarioErro !==''" class="help-block alert-danger">
                    {{usuarioErro}}
                </span>
            </div>

            <div class="form-group">
                <label>Status</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" ng-model="pessoaNew.ativo" uib-btn-radio="true">
                        Ativo
                    </label>
                    <label class="btn btn-default" uib-btn-radio="false" ng-model="pessoaNew.ativo">
                        Inativo
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>Tecnologias</label>

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="tecnologia" placeholder="Nome da tecnologia">
                    <span class="input-group-btn">
                        <button class="btn btn-success" uib-tooltip="Adicionar tecnologia"
                                ng-click="adicionarTecnologia();">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
                
                <div class="tags">
                    <div class="tag label label-success" ng-repeat="tec in pessoaNew.tecnologias">
                        {{tec}}&nbsp;<a ng-click="removeTecnologia(tec);" class="close">x</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="ok()">Confirmar</button>
</div>