<div class="modal-header text-center">
    <h4 class="modal-title">{{projeto.nome}}</h4>
</div>
<div class="modal-body" ng-init="initModalViewDescriptionActivity()">
    <div class="panel panel-primary">
        <div class="panel-body">

            <div class="form-group">
                <label for="notas">Descrição</label>
                <textarea readonly id="notas" class="form-control" ng-model="projeto.descricao" rows="10"></textarea>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Fechar</button>
</div>